pymongo
fastapi
pydantic
virtualenv
uvicorn
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
mongoengine
pyotp
passlib
uuid
pandas
jose
python-dotenv
email_validator
python-multipart
scikit-learn